
body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background: linear-gradient(to right, #FFC0CB, #FFE4ED);
}

#informacion {
    width: 80%;
    height: 120px;
    border-style: solid;
    border-color: black;
    margin-top: 55px;
    margin-left: 12%;
    float: left;
    background: #FF6B9E;
    color: white;
    transition: all 0.3s;
    overflow: scroll;
    box-shadow: 0 3px 10px rgba(255, 105, 158, 0.2);
    padding: 15px;
    border-radius: 10px;
}

#preguntaUno {
    margin-top: 35px;  
}

#preguntaSeis {
    margin-top: 35px;
}

.preguntas {
    width: 80%;
    height: 60px;
    border-style: solid;
    border-color: black;
    margin-top: 120px;
    margin-left: 12%;
    float: left;
    background: linear-gradient(to right, #FFE4ED, white);
    padding: 15px;
    border-radius: 10px;
}

.respuestas {
    width: 18.1%;
    height: 40px;
    border-style: solid;
    border-color: black;
    margin-top: 45px;
    margin-left: 1%;
    position: relative;
    text-align: justify;
    float: left;
    background: #E83A7D;
}

p {
    text-align: center;
    letter-spacing: normal;
    hyphens: auto;
    text-size-adjust: auto;
    font-family: 'Roboto Condensed', sans-serif;    
    color: black;
}

ol, ul, {
    text-align: center;
    letter-spacing: normal;
    hyphens: auto;
    text-size-adjust: auto;
    font-family: 'Roboto Condensed', sans-serif;    
    color: black; 
}

li{
    text-align: left;
    color: black;
}

img {
    height: 4;
    width: 20%;
    box-sizing: border-box;
    margin-right: 10px;
    
}

#siguientePagina{
    width: 18.1%;
    height: 40px;
    border-style: solid;
    border-color: black;
    margin-top: 206px;
    margin-right: 1%;
    position: relative;
    text-align: justify;
    float: right;
    background: #E83A7D;
    border-radius: 10px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;    

}

#titulo{
    width: 14%;
    margin-left: 40px;
    margin-top: 20px;
    border-color: black;
    text-align: center;
    background: #E83A7D;
    border-radius: 6px;
    font-family: 'Roboto Condensed', sans-serif;       
}

#siguientePagina {
    display: inline-block;
    padding: 10px 20px;
    background-color: #E83A7D;
    color: white;
    text-align: center;
    height: 22px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    border-style: solid;;
}

#siguientePagina:hover {
    background-color: #af0244; 
}
